<!doctype html>
<html ng-app="mwl.calendar.docs">
<head>
    <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.4/interact.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.0.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdn.rawgit.com/jkbrzt/rrule/v2.1.0/lib/rrule.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.25/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="//mattlewis92.github.io/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
    <script src="js/calendar/calendarAppointment.js"></script>
    <script src="js/calendar/calendarHelper.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="js/calendar/dateFormat.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="css/select2.css" rel="stylesheet">
    <link href="//mattlewis92.github.io/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
    <link href="assets/css/custom.css" rel="stylesheet" />
</head>
<body>

<!-- Modal fullscreen -->
<script>
    var globalAppointmentTimeFunction = function(event){
        console.dir(event);
        console.log(event.startsAt.toString);
        console.log($.format.date(event.startsAt, "dd MMMM yyyy"));
        $("#appointment-date").val( $.format.date(event.startsAt, "dd MMMM yyyy") );
        $("#from-time").val( $.format.date(event.startsAt, "HH : mm") );
        $("#to-time").val( $.format.date(event.endsAt, "HH : mm") );
        $('#modal-transparent').modal('hide');
    };

    var officeHoursByProfessor = [
            <% for( var professor in professors){ %>
                [
                    <% for( var hours in professors[professor].officeHours){%>
                        {
                            title: "Professor\'s office hours",
                            draggable: false,
                            resizable: false,
                            startsAt: new Date("<%= professors[professor].officeHours[hours].startsAt %>"),
                            endsAt: new Date("<%= professors[professor].officeHours[hours].endsAt %>")
                        },
                    <%}%>
                ],
            <% } %>
    ];

    $(document).ready(function() {
        $("#professor-list").select2({
            placeholder: "Select Professor",
            allowClear: true
        });
        $("#professor-list").on("select2:select", function (e) {
//            console.dir(e.params.data.element.value);
            var professorID = e.params.data.element.attributes.professorID.value;
            console.log(officeHoursByProfessor[professorID]);
            angular.element(document.getElementById('calendar-professor')).scope().vm.events=officeHoursByProfessor[professorID];
        });

       $("#calendar-button").click(function(){
           $('#modal-transparent').modal('show');
       });

        $(".modal-transparent").on('show.bs.modal', function () {
            setTimeout( function() {
                $(".modal-backdrop").addClass("modal-backdrop-transparent");
            }, 0);
        });
        $(".modal-transparent").on('hidden.bs.modal', function () {
            $(".modal-backdrop").addClass("modal-backdrop-transparent");
        });
    });
</script>
<style>
    /* .modal-fullscreen size: we use Bootstrap media query breakpoints */
    .modal-transparent .modal-dialog {
        margin: 0;
        margin-right: auto;
        margin-left: auto;
        width: 90%;
    }

    /* fix style for Select2 lib*/
    .select2-container .select2-selection--single{
        height: 34px;
        border: 1px solid #ccc;
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered{
        line-height: 32px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow{
        height: 32px;
    }

</style>

<!-- Modal transparent -->

<div class="modal modal-transparent fade" id="modal-transparent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Professor's Office Hours</h4>
            </div>
            <div class="modal-body">

                <div id="calendar-professor" ng-controller="KitchenSinkCtrl as vm">
                    <h2 class="text-center">{{ vm.calendarTitle }}</h2>

                    <div class="row">

                        <div class="col-md-6 text-center">
                            <div class="btn-group">

                                <button
                                        class="btn btn-primary"
                                        mwl-date-modifier
                                        date="vm.viewDate"
                                        decrement="vm.calendarView"
                                        ng-click="vm.cellIsOpen = false">
                                    Previous
                                </button>
                                <button
                                        class="btn btn-default"
                                        mwl-date-modifier
                                        date="vm.viewDate"
                                        set-to-today
                                        ng-click="vm.cellIsOpen = false">
                                    Today
                                </button>
                                <button
                                        class="btn btn-primary"
                                        mwl-date-modifier
                                        date="vm.viewDate"
                                        increment="vm.calendarView"
                                        ng-click="vm.cellIsOpen = false">
                                    Next
                                </button>
                            </div>
                        </div>

                        <br class="visible-xs visible-sm">

                        <div class="col-md-6 text-center">
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
                                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
                                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
                                <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
                            </div>
                        </div>

                    </div>

                    <br>
                    <div class="row">
                        <div class="col-md-1 text-center"></div>
                        <div class="col-md-10 text-center">
                            <mwl-calendar
                                    events="vm.events"
                                    view="vm.calendarView"
                                    view-title="vm.calendarTitle"
                                    view-date="vm.viewDate"
                                    on-event-click="vm.eventClicked(calendarEvent)"
                                    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
                                    cell-is-open="vm.cellIsOpen"
                                    day-view-start="06:00"
                                    day-view-end="22:59"
                                    day-view-split="30"
                                    cell-modifier="vm.modifyCell(calendarCell)"
                                    cell-auto-open-disabled="true"
                                    on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
                            </mwl-calendar>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



<!-- Page -->
<div id="wrapper">
    <% include menu.ejs%>
    <div id="page-wrapper" >
        <div id="page-inner">
            <% if (successMessage && successMessage.length > 0) { %>
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Your email has been<strong> sent!!!</strong>
            </div>
            <% } else if (errorMessage && errorMessage.length > 0) { %>
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>[Fail]</strong> <%= errorMessage%>
            </div>
            <% } %>
            <form class="form-horizontal" action="/appointment" method="post">

                <div class="form-group">
                    <label for="professor-list" class="col-lg-2 control-label">To Professor</label>
                    <div class="col-lg-10">
                        <select id="professor-list" name="professorEmail" class="js-states form-control">
                            <option value=""></option>
                            <% for( var professor=0; professor<=professors.length-1; professor++){%>
                            <option professorID = "<%= professor%>" value="<%= professors[professor].email%>" startsAt="<%= professors[professor].startsAt%>" endsAt="<%= professors[professor].endsAt%>"><%= professors[professor].firstName%> <%= professors[professor].lastName%></option>
                            <% }%>
                        </select>
                    </div>
                </div>


                <div class="form-group">
                    <label for="inputEmail3" class="col-lg-2 control-label">Topic</label>
                    <div class="col-lg-10">
                        <input name="topic" type="text" class="form-control" id="inputEmail3" placeholder="Topic">
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10">
                        <textarea name="description" class="form-control" rows="5" id="description"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Professor's Office Hours</label>
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <button id="calendar-button" type="button" class="btn btn-default btn-md">
                                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Select Professor's Office Hours
                                </button>
                            </div>
                            <div class="panel-body">
                                <div class="col-lg-4">
                                    <div class="input-group">

                                        <!--input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1"-->
                                        <!--uib-datepicker-popup="dd MMMM yyyy"-->
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        <input
                                                name="day"
                                                id="appointment-date"
                                                type="text"
                                                class="form-control"
                                                readonly>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">From</span>
                                        <input id="from-time" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="input-group">
                                        <span class="input-group-addon">To</span>
                                        <input id="to-time" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" readonly>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="student-time" class="col-lg-2 control-label">Your Suitable Time</label>
                    <div class="col-lg-10">
                        <input name="student_time" type="text" class="form-control" id="student-time" placeholder="Example 13:30">
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                        <button type="submit" class="btn btn-primary">Send Email To Professor</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
