<!DOCTYPE html >
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="utf-8" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<style>body{padding:0px;margin:0px;background-color:rgb(128,128,128);}
#FDFXFA_Menu{text-align:center;width:100%;z-index:9999;color:white;font-size:18px;background-color:#963333;position:fixed;margin:0px;opacity:0.8;top:0px;min-width:300px;}
#FDFXFA_Menu a{padding:10px 20px 10px 20px;cursor:pointer;}
#FDFXFA_Menu a:hover{background-color:darkgreen;}
@media print {#FDFXFA_Menu a{display:none}}#FDFXFA_PageLabel{min-width:20px;display:inline-block;}
#FDFXFA_Processing{width:100%;height:100%;z-index:10000;position:fixed;background-color:black;opacity:0.8;color:white;top:0px;text-align: center; font-size:100px;}#FDFXFA_Processing span{top:50%;left:50%;position:absolute;margin:-50px 0 0 -50px}#FDFXFA_FormType,#FDFXFA_Form,#FDFXFA_PDFName,#FDFXFA_FormSubmitURL{display:none;}</style>
</head>

<body style="margin: 0;" onload='updateFDFXFA()'>
<script type="text/javascript" src="js/EcmaJSAPI.js"></script>
<script type="text/javascript" src="js/EcmaParser.js"></script>
<form id='FDFXFA_Form' method='post' action=''><textarea name='pdfdata' id='FDFXFA_Textarea'></textarea></form>
<div id='FDFXFA_Processing'><span class="fa fa-spinner fa-spin"></span></div>
<div id='FDFXFA_FormType'>FDF</div>
<div id='FDFXFA_PDFName'>SP_AC_Masters_v2.pdf</div>
<!--div id='FDFXFA_Menu'><a title='Submit Form' style='float:left;' class="fa  fa-check-square-o" onclick="document.getElementById('candidacy_form').submit()">Submit</a></div-->
<script>
function submitForm(){
	console.log(document.getElementsByTagName('html')[0].innerHTML);
}
</script>
<div id='FDFXFA_Menu'><a id="submit-button" title='Submit Form' style='float:left;' class="fa  fa-check-square-o" onclick="submitForm()">Submit</a></div>

<div id="jpedal" class="pageArea" style="overflow: hidden; position: relative; width: 935px; height: 1210px; margin-top:20px; margin-left:auto; margin-right:auto; ">
<script type="text/javascript">
//global variables that can be used by ALL the function son this page.
var inputs;
var imgOff = 'Off.png';
var imgOn = 'On.png';
var imgDownOff = 'DownOff.png';
var imgDownOn = 'DownOn.png';
var imgRollOff = 'RollOff.png';
var imgRollOn = 'RollOn.png';

function replaceChecks() {

	//get all the input fields on the page
	inputs = document.getElementsByTagName('input');

	//cycle trough the input fields
	for(var i=0; i<inputs.length; i++) {
		if(inputs[i].hasAttribute('images'))

			//check if the input is a checkbox
			if(inputs[i].getAttribute('class') != 'hidden' && inputs[i].getAttribute('data-imageAdded') !== 'true' &&				(inputs[i].getAttribute('type') == 'checkbox' || inputs[i].getAttribute('type') == 'radio')) {

				//create a new image
				var img = document.createElement('img');

				//check if the checkbox is checked
				if(inputs[i].checked) {
					if(inputs[i].getAttribute('images').charAt(0) == '1')
						img.src = inputs[i].getAttribute('imageName')+imgOn;
				} else {
					if(inputs[i].getAttribute('images').charAt(1) == '1')
						img.src = inputs[i].getAttribute('imageName')+imgOff;
				}

				//set image ID
				img.id = inputs[i].getAttribute('id') ;

				//set action associations
				img.onclick = new Function('checkClick('+i+')');
				img.onmousedown = new Function('checkDown('+i+')');
				img.onmouseover = new Function('checkOver('+i+')');
				img.onmouseup = new Function('checkRelease('+i+')');
				img.onmouseout = new Function('checkRelease('+i+')');

				//place image in front of the checkbox
				inputs[i].parentNode.insertBefore(img, inputs[i]);
                           inputs[i].setAttribute('data-imageAdded','true');

				//hide the checkbox
				inputs[i].style.display='none';
			}
	}
}

//change the checkbox status and the replacement image
function checkClick(i) {
	if(!inputs[i].hasAttribute('images')) return;
	if(inputs[i].checked) {
		inputs[i].checked = '';
		if(inputs[i].getAttribute('images').charAt(1) == '1')
			document.getElementById(inputs[i].getAttribute('id')).src=inputs[i].getAttribute('imageName')+imgOff;
	} else {
		inputs[i].checked = 'checked';

		if(inputs[i].getAttribute('images').charAt(0) == '1')
			document.getElementById(inputs[i].getAttribute('id')).src=inputs[i].getAttribute('imageName')+imgOn;

		if(inputs[i].getAttribute('name') != null){
			for(var index=0; index<inputs.length; index++) {
				if(index!=i && inputs[index].getAttribute('name') == inputs[i].getAttribute('name')){
					inputs[index].checked = '';
					if(inputs[index].getAttribute('images').charAt(1) == '1')
						document.getElementById(inputs[index].getAttribute('id')).src=inputs[index].getAttribute('imageName')+imgOff;
				}
			}
		}
	}
}

function checkRelease(i) {
	if(!inputs[i].hasAttribute('images')) return;
	if(inputs[i].checked) {
		if(inputs[i].getAttribute('images').charAt(0) == '1')
			document.getElementById(inputs[i].getAttribute('id')).src=inputs[i].getAttribute('imageName')+imgOn;
	} else {
		if(inputs[i].getAttribute('images').charAt(1) == '1')
			document.getElementById(inputs[i].getAttribute('id')).src=inputs[i].getAttribute('imageName')+imgOff;
	}
}

function checkDown(i) {
	if(!inputs[i].hasAttribute('images')) return;
	if(inputs[i].checked) {
		if(inputs[i].getAttribute('images').charAt(2) == '1')
			document.getElementById(inputs[i].getAttribute('id')).src=inputs[i].getAttribute('imageName')+imgDownOn;
	} else {
		if(inputs[i].getAttribute('images').charAt(3) == '1')
			document.getElementById(inputs[i].getAttribute('id')).src=inputs[i].getAttribute('imageName')+imgDownOff;
	}
}

function checkOver(i) {
	if(!inputs[i].hasAttribute('images')) return;
	if(inputs[i].checked) {
		if(inputs[i].getAttribute('images').charAt(4) == '1')
			document.getElementById(inputs[i].getAttribute('id')).src=inputs[i].getAttribute('imageName')+imgRollOn;
	} else {
		if(inputs[i].getAttribute('images').charAt(5) == '1')
			document.getElementById(inputs[i].getAttribute('id')).src=inputs[i].getAttribute('imageName')+imgRollOff;
	}
}

</script>


<!-- Begin shared CSS values -->
<style type="text/css" >
.t {
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-o-transform-origin: top left;
	-ms-transform-origin: top left;
	-webkit-transform: scale(0.25);
	-moz-transform: scale(0.25);
	-o-transform: scale(0.25);
	-ms-transform: scale(0.25);
	z-index: 2;
	position: absolute;
	white-space: pre;
	overflow: visible;
}
</style>
<!-- End shared CSS values -->


<!-- Begin inline CSS -->
<style type="text/css" >
.text_input_template_1{	z-index:2;	position: absolute;	left:57px;	top:501px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
.text_input_template_4{	z-index:2;	position: absolute;	left:284px;	top:831px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
.text_input_template_5{	z-index:2;	position: absolute;	left:356px;	top:559px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
.text_input_template_6{	z-index:2;	position: absolute;	left:738px;	top:869px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
.text_input_template_7{	z-index:2;	position: absolute;	left:818px;	top:869px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#t1_1{left:55px;top:1162px;letter-spacing:0.1px;word-spacing:0.2px;}
#t2_1{left:692px;top:1162px;letter-spacing:0.1px;word-spacing:0.1px;}
#t3_1{left:586px;top:90px;letter-spacing:0.2px;word-spacing:0.1px;}
#t4_1{left:586px;top:107px;letter-spacing:0.2px;word-spacing:0.2px;}
#t5_1{left:586px;top:125px;letter-spacing:0.2px;word-spacing:0.3px;}
#t6_1{left:586px;top:143px;}
#t7_1{left:586px;top:161px;letter-spacing:-0.2px;}
#t8_1{left:164px;top:198px;}
#t9_1{left:311px;top:198px;letter-spacing:0.2px;}
#ta_1{left:482px;top:198px;word-spacing:0.3px;}
#tb_1{left:438px;top:228px;letter-spacing:0.2px;}
#tc_1{left:63px;top:261px;letter-spacing:-0.2px;word-spacing:0.1px;}
#td_1{left:450px;top:261px;word-spacing:0.1px;}
#te_1{left:63px;top:297px;letter-spacing:-0.1px;}
#tf_1{left:63px;top:333px;letter-spacing:0.2px;}
#tg_1{left:450px;top:297px;letter-spacing:0.1px;word-spacing:0.1px;}
#th_1{left:676px;top:297px;}
#ti_1{left:760px;top:297px;letter-spacing:-0.4px;}
#tj_1{left:847px;top:297px;}
#tk_1{left:450px;top:333px;word-spacing:0.2px;}
#tl_1{left:755px;top:333px;}
#tm_1{left:810px;top:333px;letter-spacing:0.4px;}
#tn_1{left:63px;top:369px;}
#to_1{left:63px;top:406px;}
#tp_1{left:149px;top:406px;letter-spacing:-0.3px;}
#tq_1{left:231px;top:406px;letter-spacing:0.2px;}
#tr_1{left:312px;top:406px;}
#ts_1{left:395px;top:406px;letter-spacing:0.1px;}
#tt_1{left:483px;top:406px;letter-spacing:0.3px;}
#tu_1{left:562px;top:406px;}
#tv_1{left:655px;top:406px;letter-spacing:0.3px;}
#tw_1{left:55px;top:442px;letter-spacing:0.5px;}
#tx_1{left:101px;top:442px;letter-spacing:0.1px;word-spacing:0.1px;}
#ty_1{left:63px;top:462px;letter-spacing:0.1px;}
#tz_1{left:112px;top:462px;}
#t10_1{left:167px;top:462px;letter-spacing:-0.1px;}
#t11_1{left:167px;top:480px;letter-spacing:-0.1px;word-spacing:0.1px;}
#t12_1{left:291px;top:462px;letter-spacing:-0.1px;}
#t13_1{left:291px;top:480px;letter-spacing:-0.1px;}
#t14_1{left:364px;top:462px;letter-spacing:-0.1px;word-spacing:0.3px;}
#t15_1{left:746px;top:462px;letter-spacing:0.2px;}
#t16_1{left:746px;top:480px;letter-spacing:-0.1px;word-spacing:0.2px;}
#t17_1{left:824px;top:462px;}
#t18_1{left:55px;top:733px;letter-spacing:0.1px;}
#t19_1{left:63px;top:753px;letter-spacing:0.1px;}
#t1a_1{left:112px;top:753px;}
#t1b_1{left:167px;top:753px;letter-spacing:-0.1px;}
#t1c_1{left:291px;top:753px;letter-spacing:-0.1px;}
#t1d_1{left:291px;top:770px;letter-spacing:-0.1px;}
#t1e_1{left:364px;top:753px;letter-spacing:-0.1px;word-spacing:0.3px;}
#t1f_1{left:746px;top:753px;letter-spacing:0.2px;}
#t1g_1{left:746px;top:770px;letter-spacing:-0.1px;word-spacing:0.2px;}
#t1h_1{left:824px;top:753px;}
#t1i_1{left:55px;top:889px;letter-spacing:0.1px;}
#t1j_1{left:63px;top:909px;letter-spacing:0.1px;}
#t1k_1{left:112px;top:909px;}
#t1l_1{left:167px;top:909px;letter-spacing:-0.1px;}
#t1m_1{left:291px;top:909px;letter-spacing:-0.1px;}
#t1n_1{left:291px;top:927px;letter-spacing:-0.1px;}
#t1o_1{left:364px;top:909px;letter-spacing:-0.1px;word-spacing:0.3px;}
#t1p_1{left:746px;top:909px;letter-spacing:0.2px;}
#t1q_1{left:746px;top:927px;letter-spacing:-0.1px;word-spacing:0.2px;}
#t1r_1{left:824px;top:909px;}
#t1s_1{left:55px;top:1013px;letter-spacing:-0.4px;word-spacing:0.4px;}
#t1t_1{left:385px;top:1013px;letter-spacing:-0.5px;}
#t1u_1{left:55px;top:1051px;letter-spacing:-0.5px;word-spacing:0.6px;}
#t1v_1{left:385px;top:1051px;letter-spacing:-0.5px;}
#t1w_1{left:476px;top:1051px;letter-spacing:-0.4px;word-spacing:0.6px;}
#t1x_1{left:55px;top:1090px;letter-spacing:-0.4px;word-spacing:0.5px;}
#t1y_1{left:386px;top:1090px;letter-spacing:-0.5px;}
#t1z_1{left:476px;top:1090px;letter-spacing:-0.4px;}
#t20_1{left:802px;top:1090px;letter-spacing:-0.5px;}

.s1_1{
	FONT-SIZE: 49.1px;
	FONT-FAMILY: TimesNewRomanPS-BoldMT;
	color: rgb(192,0,0);
	FONT-WEIGHT: bold;
}

.s5_1{
	FONT-SIZE: 101.2px;
	FONT-FAMILY: TimesNewRomanPS-BoldMT_l5;
	color: rgb(0,0,0);
}

.s7_1{
	FONT-SIZE: 60.9px;
	FONT-FAMILY: TimesNewRomanPS-BoldMT;
	color: rgb(192,0,0);
	FONT-WEIGHT: bold;
}

.s6_1{
	FONT-SIZE: 49.1px;
	FONT-FAMILY: TimesNewRomanPS-ItalicMT;
	color: rgb(0,0,0);
	FONT-STYLE: italic;
}

.s9_1{
	FONT-SIZE: 49.1px;
	FONT-FAMILY: TimesNewRomanPSMT;
	color: rgb(0,0,0);
}

.s2_1{
	FONT-SIZE: 49.1px;
	FONT-FAMILY: TimesNewRomanPSMT;
	color: rgb(128,128,128);
}

.s3_1{
	FONT-SIZE: 60.9px;
	FONT-FAMILY: TimesNewRomanPS-BoldMT;
	color: rgb(0,0,0);
	FONT-WEIGHT: bold;
}

.s4_1{
	FONT-SIZE: 60.9px;
	FONT-FAMILY: TimesNewRomanPSMT;
	color: rgb(0,0,0);
}

.s8_1{
	FONT-SIZE: 60.9px;
	FONT-FAMILY: TimesNewRomanPSMT_lh;
	color: rgb(0,0,0);
}

#form1_1{	z-index:2;	border-style:none;	position: absolute;	left:125px;	top:404px;	width:23px;	height:23px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 18px Wingdings, 'Zapf Dingbats';}
#form2_1{	z-index:2;	border-style:none;	position: absolute;	left:459px;	top:404px;	width:23px;	height:23px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 18px Wingdings, 'Zapf Dingbats';}
#form3_1{	z-index:2;	border-style:none;	position: absolute;	left:370px;	top:404px;	width:23px;	height:23px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 18px Wingdings, 'Zapf Dingbats';}
#form4_1{	z-index:2;	border-style:none;	position: absolute;	left:822px;	top:294px;	width:23px;	height:23px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 18px Wingdings, 'Zapf Dingbats';}
#form5_1{	z-index:2;	border-style:none;	position: absolute;	left:732px;	top:330px;	width:23px;	height:23px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 18px Wingdings, 'Zapf Dingbats';}
#form6_1{	z-index:2;	border-style:none;	position: absolute;	left:735px;	top:294px;	width:23px;	height:23px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 18px Wingdings, 'Zapf Dingbats';}
#form7_1{	z-index:2;	border-style:none;	position: absolute;	left:286px;	top:404px;	width:25px;	height:23px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 18px Wingdings, 'Zapf Dingbats';}
#form8_1{	z-index:2;	border-style:none;	position: absolute;	left:536px;	top:404px;	width:25px;	height:23px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 18px Wingdings, 'Zapf Dingbats';}
#form9_1{	z-index:2;	border-style:none;	position: absolute;	left:651px;	top:294px;	width:25px;	height:23px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 18px Wingdings, 'Zapf Dingbats';}
#form10_1{	z-index:2;	border-style:none;	position: absolute;	left:630px;	top:404px;	width:25px;	height:23px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 18px Wingdings, 'Zapf Dingbats';}
#form11_1{	z-index:2;	border-style:none;	position: absolute;	left:784px;	top:330px;	width:25px;	height:23px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 18px Wingdings, 'Zapf Dingbats';}
#form12_1{	z-index:2;	border-style:none;	position: absolute;	left:202px;	top:404px;	width:25px;	height:23px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 18px Wingdings, 'Zapf Dingbats';}
#form13_1{	z-index:2;	border-style:none;	position: absolute;	left:280px;	top:199px;	width:29px;	height:29px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 22px Wingdings, 'Zapf Dingbats';}
#form14_1{	z-index:2;	border-style:none;	position: absolute;	left:449px;	top:199px;	width:29px;	height:29px;	color: rgb(0,0,0); 	text-align:left;	background-color: rgb(255,255,255); 	font:normal 22px Wingdings, 'Zapf Dingbats';}
#form15_1{	z-index:2;	position: absolute;	left:57px;	top:967px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form16_1{	z-index:2;	position: absolute;	left:57px;	top:675px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form17_1{	z-index:2;	position: absolute;	left:57px;	top:949px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form18_1{	z-index:2;	position: absolute;	left:57px;	top:617px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form19_1{	z-index:2;	position: absolute;	left:57px;	top:559px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form20_1{	z-index:2;	position: absolute;	left:57px;	top:501px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form21_1{	z-index:2;	position: absolute;	left:57px;	top:598px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form22_1{	z-index:2;	position: absolute;	left:57px;	top:714px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form23_1{	z-index:2;	position: absolute;	left:57px;	top:793px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form24_1{	z-index:2;	position: absolute;	left:57px;	top:811px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form25_1{	z-index:2;	position: absolute;	left:57px;	top:521px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form26_1{	z-index:2;	position: absolute;	left:57px;	top:869px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form27_1{	z-index:2;	position: absolute;	left:57px;	top:831px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form28_1{	z-index:2;	position: absolute;	left:57px;	top:694px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form29_1{	z-index:2;	position: absolute;	left:57px;	top:656px;	width:46px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form30_1{	z-index:2;	position: absolute;	left:57px;	top:636px;	width:46px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form31_1{	z-index:2;	position: absolute;	left:57px;	top:850px;	width:46px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form32_1{	z-index:2;	position: absolute;	left:57px;	top:539px;	width:46px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form33_1{	z-index:2;	position: absolute;	left:57px;	top:578px;	width:46px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form34_1{	z-index:2;	position: absolute;	left:106px;	top:967px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form35_1{	z-index:2;	position: absolute;	left:106px;	top:521px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form36_1{	z-index:2;	position: absolute;	left:106px;	top:559px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form37_1{	z-index:2;	position: absolute;	left:106px;	top:501px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form38_1{	z-index:2;	position: absolute;	left:106px;	top:675px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form39_1{	z-index:2;	position: absolute;	left:106px;	top:811px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form40_1{	z-index:2;	position: absolute;	left:106px;	top:869px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form41_1{	z-index:2;	position: absolute;	left:106px;	top:694px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form42_1{	z-index:2;	position: absolute;	left:106px;	top:793px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form43_1{	z-index:2;	position: absolute;	left:106px;	top:949px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form44_1{	z-index:2;	position: absolute;	left:106px;	top:714px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form45_1{	z-index:2;	position: absolute;	left:106px;	top:598px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form46_1{	z-index:2;	position: absolute;	left:106px;	top:831px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form47_1{	z-index:2;	position: absolute;	left:106px;	top:617px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form48_1{	z-index:2;	position: absolute;	left:106px;	top:656px;	width:52px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form49_1{	z-index:2;	position: absolute;	left:106px;	top:636px;	width:52px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form50_1{	z-index:2;	position: absolute;	left:106px;	top:850px;	width:52px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form51_1{	z-index:2;	position: absolute;	left:106px;	top:578px;	width:52px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form52_1{	z-index:2;	position: absolute;	left:106px;	top:539px;	width:52px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form53_1{	z-index:2;	position: absolute;	left:617px;	top:289px;	width:29px;	height:31px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form54_1{	z-index:2;	position: absolute;	left:818px;	top:869px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form55_1{	z-index:2;	position: absolute;	left:818px;	top:811px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form56_1{	z-index:2;	position: absolute;	left:818px;	top:831px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form57_1{	z-index:2;	position: absolute;	left:818px;	top:617px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form58_1{	z-index:2;	position: absolute;	left:818px;	top:501px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form59_1{	z-index:2;	position: absolute;	left:818px;	top:793px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form60_1{	z-index:2;	position: absolute;	left:818px;	top:598px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form61_1{	z-index:2;	position: absolute;	left:818px;	top:714px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form62_1{	z-index:2;	position: absolute;	left:818px;	top:694px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form63_1{	z-index:2;	position: absolute;	left:818px;	top:521px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form64_1{	z-index:2;	position: absolute;	left:818px;	top:675px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form65_1{	z-index:2;	position: absolute;	left:818px;	top:949px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form66_1{	z-index:2;	position: absolute;	left:818px;	top:967px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form67_1{	z-index:2;	position: absolute;	left:818px;	top:656px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form68_1{	z-index:2;	position: absolute;	left:818px;	top:559px;	width:61px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form69_1{	z-index:2;	position: absolute;	left:818px;	top:850px;	width:61px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form70_1{	z-index:2;	position: absolute;	left:818px;	top:539px;	width:61px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form71_1{	z-index:2;	position: absolute;	left:818px;	top:636px;	width:61px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form72_1{	z-index:2;	position: absolute;	left:818px;	top:578px;	width:61px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form73_1{	z-index:2;	position: absolute;	left:284px;	top:831px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form74_1{	z-index:2;	position: absolute;	left:284px;	top:617px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form75_1{	z-index:2;	position: absolute;	left:284px;	top:521px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form76_1{	z-index:2;	position: absolute;	left:284px;	top:811px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form77_1{	z-index:2;	position: absolute;	left:284px;	top:793px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form78_1{	z-index:2;	position: absolute;	left:284px;	top:559px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form79_1{	z-index:2;	position: absolute;	left:284px;	top:598px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form80_1{	z-index:2;	position: absolute;	left:284px;	top:714px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form81_1{	z-index:2;	position: absolute;	left:284px;	top:694px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form82_1{	z-index:2;	position: absolute;	left:284px;	top:501px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form83_1{	z-index:2;	position: absolute;	left:284px;	top:675px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form84_1{	z-index:2;	position: absolute;	left:284px;	top:967px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form85_1{	z-index:2;	position: absolute;	left:284px;	top:869px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form86_1{	z-index:2;	position: absolute;	left:284px;	top:656px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form87_1{	z-index:2;	position: absolute;	left:284px;	top:949px;	width:70px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form88_1{	z-index:2;	position: absolute;	left:385px;	top:1027px;	width:55px;	height:20px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 18px Arial, Helvetica, sans-serif;}
#form89_1{	z-index:2;	position: absolute;	left:385px;	top:989px;	width:55px;	height:20px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 18px Arial, Helvetica, sans-serif;}
#form90_1{	z-index:2;	position: absolute;	left:284px;	top:636px;	width:70px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form91_1{	z-index:2;	position: absolute;	left:284px;	top:850px;	width:70px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form92_1{	z-index:2;	position: absolute;	left:284px;	top:539px;	width:70px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form93_1{	z-index:2;	position: absolute;	left:284px;	top:578px;	width:70px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form94_1{	z-index:2;	position: absolute;	left:738px;	top:869px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form95_1{	z-index:2;	position: absolute;	left:738px;	top:831px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form96_1{	z-index:2;	position: absolute;	left:738px;	top:617px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form97_1{	z-index:2;	position: absolute;	left:738px;	top:811px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form98_1{	z-index:2;	position: absolute;	left:738px;	top:793px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form99_1{	z-index:2;	position: absolute;	left:738px;	top:598px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form100_1{	z-index:2;	position: absolute;	left:738px;	top:501px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form101_1{	z-index:2;	position: absolute;	left:738px;	top:714px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form102_1{	z-index:2;	position: absolute;	left:738px;	top:694px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form103_1{	z-index:2;	position: absolute;	left:738px;	top:675px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form104_1{	z-index:2;	position: absolute;	left:738px;	top:521px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form105_1{	z-index:2;	position: absolute;	left:738px;	top:967px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form106_1{	z-index:2;	position: absolute;	left:738px;	top:656px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form107_1{	z-index:2;	position: absolute;	left:738px;	top:949px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form108_1{	z-index:2;	position: absolute;	left:738px;	top:559px;	width:77px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form109_1{	z-index:2;	position: absolute;	left:738px;	top:636px;	width:77px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form110_1{	z-index:2;	position: absolute;	left:738px;	top:850px;	width:77px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form111_1{	z-index:2;	position: absolute;	left:738px;	top:539px;	width:77px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form112_1{	z-index:2;	position: absolute;	left:738px;	top:578px;	width:77px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form113_1{	z-index:2;	position: absolute;	left:159px;	top:949px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form114_1{	z-index:2;	position: absolute;	left:159px;	top:869px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form115_1{	z-index:2;	position: absolute;	left:159px;	top:521px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form116_1{	z-index:2;	position: absolute;	left:159px;	top:559px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form117_1{	z-index:2;	position: absolute;	left:159px;	top:831px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form118_1{	z-index:2;	position: absolute;	left:159px;	top:617px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form119_1{	z-index:2;	position: absolute;	left:159px;	top:811px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form120_1{	z-index:2;	position: absolute;	left:159px;	top:793px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form121_1{	z-index:2;	position: absolute;	left:159px;	top:598px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form122_1{	z-index:2;	position: absolute;	left:159px;	top:714px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form123_1{	z-index:2;	position: absolute;	left:159px;	top:694px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form124_1{	z-index:2;	position: absolute;	left:159px;	top:675px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form125_1{	z-index:2;	position: absolute;	left:159px;	top:501px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form126_1{	z-index:2;	position: absolute;	left:159px;	top:967px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form127_1{	z-index:2;	position: absolute;	left:159px;	top:656px;	width:122px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form128_1{	z-index:2;	position: absolute;	left:159px;	top:636px;	width:122px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form129_1{	z-index:2;	position: absolute;	left:159px;	top:850px;	width:122px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form130_1{	z-index:2;	position: absolute;	left:159px;	top:539px;	width:122px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form131_1{	z-index:2;	position: absolute;	left:159px;	top:578px;	width:122px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form132_1{	z-index:2;	position: absolute;	left:616px;	top:254px;	width:164px;	height:20px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 18px Arial, Helvetica, sans-serif;}
#form133_1{	z-index:2;	position: absolute;	left:158px;	top:364px;	width:235px;	height:19px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 18px Arial, Helvetica, sans-serif;}
#form134_1{	z-index:2;	position: absolute;	left:139px;	top:290px;	width:254px;	height:20px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 18px Arial, Helvetica, sans-serif;}
#form135_1{	z-index:2;	position: absolute;	left:136px;	top:254px;	width:257px;	height:20px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 18px Arial, Helvetica, sans-serif;}
#form136_1{	z-index:2;	position: absolute;	left:356px;	top:559px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form137_1{	z-index:2;	position: absolute;	left:356px;	top:869px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form138_1{	z-index:2;	position: absolute;	left:356px;	top:831px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form139_1{	z-index:2;	position: absolute;	left:356px;	top:617px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form140_1{	z-index:2;	position: absolute;	left:356px;	top:811px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form141_1{	z-index:2;	position: absolute;	left:356px;	top:793px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form142_1{	z-index:2;	position: absolute;	left:356px;	top:598px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form143_1{	z-index:2;	position: absolute;	left:356px;	top:714px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form144_1{	z-index:2;	position: absolute;	left:356px;	top:694px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form145_1{	z-index:2;	position: absolute;	left:356px;	top:501px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form146_1{	z-index:2;	position: absolute;	left:356px;	top:675px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form147_1{	z-index:2;	position: absolute;	left:356px;	top:521px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form148_1{	z-index:2;	position: absolute;	left:356px;	top:967px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form149_1{	z-index:2;	position: absolute;	left:356px;	top:656px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form150_1{	z-index:2;	position: absolute;	left:356px;	top:949px;	width:379px;	height:14px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 13px Arial, Helvetica, sans-serif;}
#form151_1{	z-index:2;	position: absolute;	left:109px;	top:327px;	width:284px;	height:20px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 18px Arial, Helvetica, sans-serif;}
#form152_1{	z-index:2;	position: absolute;	left:356px;	top:636px;	width:379px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form153_1{	z-index:2;	position: absolute;	left:356px;	top:850px;	width:379px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form154_1{	z-index:2;	position: absolute;	left:356px;	top:539px;	width:379px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form155_1{	z-index:2;	position: absolute;	left:356px;	top:578px;	width:379px;	height:15px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 15px Arial, Helvetica, sans-serif;}
#form156_1{	z-index:2;	border-style:none;	position: absolute;	left:55px;	top:1027px;	width:324px;	height:25px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	background-image: url("images/candidacy/form/776 0 ROff.png");	background-repeat: no-repeat;	font:normal 18px Arial, Helvetica, sans-serif;}
#form157_1{	z-index:2;	border-style:none;	position: absolute;	left:55px;	top:989px;	width:324px;	height:25px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	background-image: url("images/candidacy/form/774 0 ROff.png");	background-repeat: no-repeat;	font:normal 18px Arial, Helvetica, sans-serif;}
#form158_1{	z-index:2;	position: absolute;	left:475px;	top:1027px;	width:385px;	height:20px;	color: rgb(0,0,0); 	text-align:left;	background: transparent;	border-color:transparent;	font:normal 18px Arial, Helvetica, sans-serif;}
#form6_1 { z-index:4; }
#form4_1 { z-index:3; }
#form9_1 { z-index:2; }
#form5_1 { z-index:3; }
#form11_1 { z-index:2; }
#form3_1 { z-index:8; }
#form1_1 { z-index:7; }
#form2_1 { z-index:6; }
#form10_1 { z-index:5; }
#form8_1 { z-index:4; }
#form12_1 { z-index:3; }
#form7_1 { z-index:2; }
#form14_1 { z-index:3; }
#form13_1 { z-index:2; }

</style>
<!-- End inline CSS -->

<!-- Begin embedded font definitions -->
<style id="fonts1" type="text/css" >

@font-face {
	font-family: TimesNewRomanPSMT_lh;
	src: url("fonts/TimesNewRomanPSMT_lh.woff") format("woff");
}

@font-face {
	font-family: TimesNewRomanPS-BoldMT_l5;
	src: url("fonts/TimesNewRomanPS-BoldMT_l5.woff") format("woff");
}

</style>
<!-- End embedded font definitions -->

<!-- Begin text definitions (Positioned/styled in CSS) -->
<div id="t1_1" class="t s1_1">Please keep a copy for your records</div>
<div id="t2_1" class="t s2_1">June 8, 2016, SP-AC_Masters_v2 </div>
<div id="t3_1" class="t s3_1">Office of the Registrar </div>
<div id="t4_1" class="t s4_1">Phone: 201.216.3756 </div>
<div id="t5_1" class="t s4_1">Fax: 201.216.8030 </div>
<div id="t6_1" class="t s4_1">registrar@stevens.edu </div>
<div id="t7_1" class="t s4_1">www.stevens.edu/registrar </div>
<div id="t8_1" class="t s5_1">Master’s </div>
<div id="t9_1" class="t s5_1">Study Plan </div>
<div id="ta_1" class="t s5_1">Application for Candidacy</div>
<div id="tb_1" class="t s6_1">(Check one) </div>
<div id="tc_1" class="t s4_1">Last Name: </div>
<div id="td_1" class="t s4_1">Student Identification No.: </div>
<div id="te_1" class="t s4_1">First Name: </div>
<div id="tf_1" class="t s4_1">Major: </div>
<div id="tg_1" class="t s4_1">Anticipated Graduation: 20 ___ </div>
<div id="th_1" class="t s4_1">Spring </div>
<div id="ti_1" class="t s4_1">Summer </div>
<div id="tj_1" class="t s4_1">Fall </div>
<div id="tk_1" class="t s4_1">International Students: Applying for O.P.T.? </div>
<div id="tl_1" class="t s4_1">Yes </div>
<div id="tm_1" class="t s4_1">No </div>
<div id="tn_1" class="t s4_1">Concentration: </div>
<div id="to_1" class="t s4_1">Degree: </div>
<div id="tp_1" class="t s4_1">MA </div>
<div id="tq_1" class="t s4_1">ME </div>
<div id="tr_1" class="t s4_1">MS </div>
<div id="ts_1" class="t s4_1">MPh </div>
<div id="tt_1" class="t s4_1">MTM </div>
<div id="tu_1" class="t s4_1">MBA </div>
<div id="tv_1" class="t s4_1">EMBA </div>
<div id="tw_1" class="t s3_1">Major </div>
<div id="tx_1" class="t s7_1">(Please list in the order as they appear on your transcript)</div>
<div id="ty_1" class="t s4_1">Year </div>
<div id="tz_1" class="t s4_1">Term </div>
<div id="t10_1" class="t s4_1">Institution </div>
<div id="t11_1" class="t s4_1">(if not Stevens) </div>
<div id="t12_1" class="t s4_1">Course </div>
<div id="t13_1" class="t s4_1">Number </div>
<div id="t14_1" class="t s4_1">Course Name </div>
<div id="t15_1" class="t s4_1">Grade </div>
<div id="t16_1" class="t s8_1">(if Rec’d)</div>
<div id="t17_1" class="t s4_1">Credits </div>
<div id="t18_1" class="t s3_1">Electives </div>
<div id="t19_1" class="t s4_1">Year </div>
<div id="t1a_1" class="t s4_1">Term </div>
<div id="t1b_1" class="t s4_1">Institution </div>
<div id="t1c_1" class="t s4_1">Course </div>
<div id="t1d_1" class="t s4_1">Number </div>
<div id="t1e_1" class="t s4_1">Course Name </div>
<div id="t1f_1" class="t s4_1">Grade </div>
<div id="t1g_1" class="t s8_1">(if Rec’d)</div>
<div id="t1h_1" class="t s4_1">Credits </div>
<div id="t1i_1" class="t s3_1">No Credit </div>
<div id="t1j_1" class="t s4_1">Year </div>
<div id="t1k_1" class="t s4_1">Term </div>
<div id="t1l_1" class="t s4_1">Institution </div>
<div id="t1m_1" class="t s4_1">Course </div>
<div id="t1n_1" class="t s4_1">Number </div>
<div id="t1o_1" class="t s4_1">Course Name </div>
<div id="t1p_1" class="t s4_1">Grade </div>
<div id="t1q_1" class="t s8_1">(if Rec’d)</div>
<div id="t1r_1" class="t s4_1">Credits </div>
<div id="t1s_1" class="t s9_1">STUDENT SIGNATURE </div>
<div id="t1t_1" class="t s9_1">DATE </div>
<div id="t1u_1" class="t s9_1">ADVISOR SIGNATURE </div>
<div id="t1v_1" class="t s9_1">DATE </div>
<div id="t1w_1" class="t s9_1">ADVISOR NAME (PRINT) </div>
<div id="t1x_1" class="t s9_1">DEAN OF GRADUATE ACADEMICS </div>
<div id="t1y_1" class="t s9_1">DATE </div>
<div id="t1z_1" class="t s9_1">REGISTRAR </div>
<div id="t20_1" class="t s9_1">DATE </div>

<!-- End text definitions -->


<!-- Begin Form Data -->
<form id="candidacy_form" action="/api/submit_candidacy" method="get" name = "candidacy">
<input type="radio"  tabindex="151"  id="form1_1" data-objref="786 0 R" data-field-name="Group4" name="Group4" value="0"  imageName="images/candidacy/form/786 0 R" images="110100"/>
<input type="radio"  tabindex="155"  id="form2_1" data-objref="790 0 R" data-field-name="Group4" name="Group4" value="4"  imageName="images/candidacy/form/786 0 R" images="110100"/>
<input type="radio"  tabindex="154"  id="form3_1" data-objref="789 0 R" data-field-name="Group4" name="Group4" value="3"  imageName="images/candidacy/form/786 0 R" images="110100"/>
<input type="radio"  tabindex="148"  id="form4_1" data-objref="783 0 R" data-field-name="Group2" name="Group2" value="2"  imageName="images/candidacy/form/786 0 R" images="110100"/>
<input type="radio"  tabindex="149"  id="form5_1" data-objref="784 0 R" data-field-name="Group3" name="Group3" value="0"  imageName="images/candidacy/form/786 0 R" images="110100"/>
<input type="radio"  tabindex="147"  id="form6_1" data-objref="782 0 R" data-field-name="Group2" name="Group2" value="1"  imageName="images/candidacy/form/786 0 R" images="110100"/>
<input type="radio"  tabindex="153"  id="form7_1" data-objref="788 0 R" data-field-name="Group4" name="Group4" value="2"  imageName="images/candidacy/form/786 0 R" images="110100" checked>
<input type="radio"  tabindex="156"  id="form8_1" data-objref="791 0 R" data-field-name="Group4" name="Group4" value="5"  imageName="images/candidacy/form/786 0 R" images="110100"/>
<input type="radio"  tabindex="146"  id="form9_1" data-objref="781 0 R" data-field-name="Group2"  name="Group2" value="0"  imageName="images/candidacy/form/786 0 R" images="110100"/>
<input type="radio"  tabindex="157"  id="form10_1" data-objref="792 0 R" data-field-name="Group4" name="Group4" value="6"  imageName="images/candidacy/form/786 0 R" images="110100"/>
<input type="radio"  tabindex="150"  id="form11_1" data-objref="785 0 R" data-field-name="Group3" name="Group3" value="1"  imageName="images/candidacy/form/786 0 R" images="110100"/>
<input type="radio"  tabindex="152"  id="form12_1" data-objref="787 0 R" data-field-name="Group4" name="Group4" value="1"  imageName="images/candidacy/form/786 0 R" images="110100"/>
<input type="radio"  tabindex="144"  id="form13_1" data-objref="779 0 R" data-field-name="Group1" name="Group1" value="0"  imageName="images/candidacy/form/779 0 R" images="110100"/>
<input type="radio"  tabindex="145"  id="form14_1" data-objref="780 0 R" data-field-name="Group1" name="Group1" value="1"  imageName="images/candidacy/form/779 0 R" images="110100" checked>

<%
	function returnCourseNumberIfExist(i){
		if(studentData.grades && studentData.grades[i]){
			return studentData.grades[i].code;
		}
		return "";
	}
	function returnCourseTitleIfExist(i){
		if(studentData.grades && studentData.grades[i]){
			return studentData.grades[i].title;
		}
		return "";
	}
	function returnGradeIfExist(i){
		if(studentData.grades && studentData.grades[i]){
			return studentData.grades[i].grade;
		}
		return "";
	}
	function returnCreditsIfExist(i){
		if(studentData.grades && studentData.grades[i]){
			return studentData.grades[i].credits;
		}
		return "";
	}
	for( i=0 ; i<=12-1 ;i++){%>
	<input type="text" class="text_input_template_1" value="" style="top:<%= (501+(19*i)) +"px"%>"/>
	<%}
	for( i=0 ; i<=12-1 ;i++){%>
	<input type="text" class="text_input_template_4" value="<%=returnCourseNumberIfExist(i)%>" style="top:<%= (501+(19*i)) +"px"%>"/>
	<%}
	for( i=0 ; i<=12-1 ;i++){%>
	<input type="text" class="text_input_template_5" value="<%=returnCourseTitleIfExist(i)%>" style="top:<%= (501+(19*i)) +"px"%>"/>
	<%}
	for( i=0 ; i<=12-1 ;i++){%>
	<input type="text" class="text_input_template_6" value="<%=returnGradeIfExist(i)%>" style="top:<%= (501+(19*i)) +"px"%>"/>
	<%}
	for( i=0 ; i<=12-1 ;i++){%>
	<input type="text" class="text_input_template_7" value="<%=returnCreditsIfExist(i)%>" style="top:<%= (501+(19*i)) +"px"%>"/>
	<%}
%>
<!-- input type="text"  tabindex="132"  id="form15_1" value="" data-objref="767 0 R" title="Year_Row_2"  data-field-name="YearRow2_3"/>
<input type="text"  tabindex="69"  id="form16_1" value="" data-objref="704 0 R" title="Year_Row_10"  data-field-name="YearRow10"/>
<input type="text"  tabindex="125"  id="form17_1" value="" data-objref="760 0 R" title="Year_Row_1"  data-field-name="YearRow1_3"/>
<input type="text"  tabindex="48"  id="form18_1" value="" data-objref="683 0 R" title="Year_Row_7"  data-field-name="YearRow7"/>
<input type="text"  tabindex="27"  id="form19_1" value="" data-objref="662 0 R" title="Year_Row_4"  data-field-name="YearRow4"/>
<input type="text"  tabindex="6"  id="form20_1" value="" data-objref="641 0 R" title="Year_Row_1"  data-field-name="YearRow1"/>
<input type="text"  tabindex="41"  id="form21_1" value="" data-objref="676 0 R" title="Year_Row_6"  data-field-name="YearRow6"/>
<input type="text"  tabindex="83"  id="form22_1" value="" data-objref="718 0 R" title="Year_Row_12"  data-field-name="YearRow12"/>
<input type="text"  tabindex="90"  id="form23_1" value="" data-objref="725 0 R" title="Year_Row_1"  data-field-name="YearRow1_2"/>
<input type="text"  tabindex="97"  id="form24_1" value="" data-objref="732 0 R" title="Year_Row_2"  data-field-name="YearRow2_2"/>
<input type="text"  tabindex="13"  id="form25_1" value="" data-objref="648 0 R" title="Year_Row_2"  data-field-name="YearRow2"/>
<input type="text"  tabindex="118"  id="form26_1" value="" data-objref="753 0 R" title="Year_Row_5"  data-field-name="YearRow5_2"/>
<input type="text"  tabindex="104"  id="form27_1" value="" data-objref="739 0 R" title="Year_Row_3"  data-field-name="YearRow3_2"/>
<input type="text"  tabindex="76"  id="form28_1" value="" data-objref="711 0 R" title="Year_Row_11"  data-field-name="YearRow11"/>
<input type="text"  tabindex="62"  id="form29_1" value="" data-objref="697 0 R" title="Year_Row_9"  data-field-name="YearRow9"/>
<input type="text"  tabindex="55"  id="form30_1" value="" data-objref="690 0 R" title="Year_Row_8"  data-field-name="YearRow8"/>
<input type="text"  tabindex="111"  id="form31_1" value="" data-objref="746 0 R" title="Year_Row_4"  data-field-name="YearRow4_2"/>
<input type="text"  tabindex="20"  id="form32_1" value="" data-objref="655 0 R" title="Year_Row_3"  data-field-name="YearRow3"/>
<input type="text"  tabindex="34"  id="form33_1" value="" data-objref="669 0 R" title="Year_Row_5"  data-field-name="YearRow5"/-->
<input type="text"  tabindex="133"  id="form34_1" value="" data-objref="768 0 R" title="Term_Row_2"  data-field-name="TermRow2_3"/>
<input type="text"  tabindex="14"  id="form35_1" value="" data-objref="649 0 R" title="Term_Row_2"  data-field-name="TermRow2"/>
<input type="text"  tabindex="28"  id="form36_1" value="" data-objref="663 0 R" title="Term_Row_4"  data-field-name="TermRow4"/>
<input type="text"  tabindex="7"  id="form37_1" value="" data-objref="642 0 R" title="Term_Row_1"  data-field-name="TermRow1"/>
<input type="text"  tabindex="70"  id="form38_1" value="" data-objref="705 0 R" title="Term_Row_10"  data-field-name="TermRow10"/>
<input type="text"  tabindex="98"  id="form39_1" value="" data-objref="733 0 R" title="Term_Row_2"  data-field-name="TermRow2_2"/>
<input type="text"  tabindex="119"  id="form40_1" value="" data-objref="754 0 R" title="Term_Row_5"  data-field-name="TermRow5_2"/>
<input type="text"  tabindex="77"  id="form41_1" value="" data-objref="712 0 R" title="Term_Row_11"  data-field-name="TermRow11"/>
<input type="text"  tabindex="91"  id="form42_1" value="" data-objref="726 0 R" title="Term_Row_1"  data-field-name="TermRow1_2"/>
<input type="text"  tabindex="126"  id="form43_1" value="" data-objref="761 0 R" title="Term_Row_1"  data-field-name="TermRow1_3"/>
<input type="text"  tabindex="84"  id="form44_1" value="" data-objref="719 0 R" title="Term_Row_12"  data-field-name="TermRow12"/>
<input type="text"  tabindex="42"  id="form45_1" value="" data-objref="677 0 R" title="Term_Row_6"  data-field-name="TermRow6"/>
<input type="text"  tabindex="105"  id="form46_1" value="" data-objref="740 0 R" title="Term_Row_3"  data-field-name="TermRow3_2"/>
<input type="text"  tabindex="49"  id="form47_1" value="" data-objref="684 0 R" title="Term_Row_7"  data-field-name="TermRow7"/>
<input type="text"  tabindex="63"  id="form48_1" value="" data-objref="698 0 R" title="Term_Row_9"  data-field-name="TermRow9"/>
<input type="text"  tabindex="56"  id="form49_1" value="" data-objref="691 0 R" title="Term_Row_8"  data-field-name="TermRow8"/>
<input type="text"  tabindex="112"  id="form50_1" value="" data-objref="747 0 R" title="Term_Row_4"  data-field-name="TermRow4_2"/>
<input type="text"  tabindex="35"  id="form51_1" value="" data-objref="670 0 R" title="Term_Row_5"  data-field-name="TermRow5"/>
<input type="text"  tabindex="21"  id="form52_1" value="" data-objref="656 0 R" title="Term_Row_3"  data-field-name="TermRow3"/>
<input type="text"  tabindex="158"  id="form53_1" value="" data-objref="793 0 R" data-field-name="Text1"/>
<!--input type="text"  tabindex="124"  id="form54_1" value="" data-objref="759 0 R" title="Credits_Row_5"  data-field-name="CreditsRow5_2"/>
<input type="text"  tabindex="103"  id="form55_1" value="" data-objref="738 0 R" title="Credits_Row_2"  data-field-name="CreditsRow2_2"/>
<input type="text"  tabindex="110"  id="form56_1" value="" data-objref="745 0 R" title="Credits_Row_3"  data-field-name="CreditsRow3_2"/>
<input type="text"  tabindex="54"  id="form57_1" value="" data-objref="689 0 R" title="Credits_Row_7"  data-field-name="CreditsRow7"/>
<input type="text"  tabindex="12"  id="form58_1" value="" data-objref="647 0 R" title="Credits_Row_1"  data-field-name="CreditsRow1"/>
<input type="text"  tabindex="96"  id="form59_1" value="" data-objref="731 0 R" title="Credits_Row_1"  data-field-name="CreditsRow1_2"/>
<input type="text"  tabindex="47"  id="form60_1" value="" data-objref="682 0 R" title="Credits_Row_6"  data-field-name="CreditsRow6"/>
<input type="text"  tabindex="89"  id="form61_1" value="" data-objref="724 0 R" title="Credits_Row_12"  data-field-name="CreditsRow12"/>
<input type="text"  tabindex="82"  id="form62_1" value="" data-objref="717 0 R" title="Credits_Row_11"  data-field-name="CreditsRow11"/>
<input type="text"  tabindex="19"  id="form63_1" value="" data-objref="654 0 R" title="Credits_Row_2"  data-field-name="CreditsRow2"/>
<input type="text"  tabindex="75"  id="form64_1" value="" data-objref="710 0 R" title="Credits_Row_10"  data-field-name="CreditsRow10"/>
<input type="text"  tabindex="131"  id="form65_1" value="" data-objref="766 0 R" title="Credits_Row_1"  data-field-name="CreditsRow1_3"/>
<input type="text"  tabindex="138"  id="form66_1" value="" data-objref="773 0 R" title="Credits_Row_2"  data-field-name="CreditsRow2_3"/>
<input type="text"  tabindex="68"  id="form67_1" value="" data-objref="703 0 R" title="Credits_Row_9"  data-field-name="CreditsRow9"/>
<input type="text"  tabindex="33"  id="form68_1" value="" data-objref="668 0 R" title="Credits_Row_4"  data-field-name="CreditsRow4"/>
<input type="text"  tabindex="117"  id="form69_1" value="" data-objref="752 0 R" title="Credits_Row_4"  data-field-name="CreditsRow4_2"/>
<input type="text"  tabindex="26"  id="form70_1" value="" data-objref="661 0 R" title="Credits_Row_3"  data-field-name="CreditsRow3"/>
<input type="text"  tabindex="61"  id="form71_1" value="" data-objref="696 0 R" title="Credits_Row_8"  data-field-name="CreditsRow8"/>
<input type="text"  tabindex="40"  id="form72_1" value="" data-objref="675 0 R" title="Credits_Row_5"  data-field-name="CreditsRow5"/-->
<!--input type="text"  tabindex="107"  id="form73_1" value="" data-objref="742 0 R" title="Course Number_Row_3"  data-field-name="Course NumberRow3_2"/>
<input type="text"  tabindex="51"  id="form74_1" value="" data-objref="686 0 R" title="Course Number_Row_7"  data-field-name="Course NumberRow7"/>
<input type="text"  tabindex="16"  id="form75_1" value="" data-objref="651 0 R" title="Course Number_Row_2"  data-field-name="Course NumberRow2"/>
<input type="text"  tabindex="100"  id="form76_1" value="" data-objref="735 0 R" title="Course Number_Row_2"  data-field-name="Course NumberRow2_2"/>
<input type="text"  tabindex="93"  id="form77_1" value="" data-objref="728 0 R" title="Course Number_Row_1"  data-field-name="Course NumberRow1_2"/>
<input type="text"  tabindex="30"  id="form78_1" value="" data-objref="665 0 R" title="Course Number_Row_4"  data-field-name="Course NumberRow4"/>
<input type="text"  tabindex="44"  id="form79_1" value="" data-objref="679 0 R" title="Course Number_Row_6"  data-field-name="Course NumberRow6"/>
<input type="text"  tabindex="86"  id="form80_1" value="" data-objref="721 0 R" title="Course Number_Row_12"  data-field-name="Course NumberRow12"/>
<input type="text"  tabindex="79"  id="form81_1" value="" data-objref="714 0 R" title="Course Number_Row_11"  data-field-name="Course NumberRow11"/>
<input type="text"  tabindex="9"  id="form82_1" value="" data-objref="644 0 R" title="Course Number_Row_1"  data-field-name="Course NumberRow1"/>
<input type="text"  tabindex="72"  id="form83_1" value="" data-objref="707 0 R" title="Course Number_Row_10"  data-field-name="Course NumberRow10"/>
<input type="text"  tabindex="135"  id="form84_1" value="" data-objref="770 0 R" title="Course Number_Row_2"  data-field-name="Course NumberRow2_3"/>
<input type="text"  tabindex="121"  id="form85_1" value="" data-objref="756 0 R" title="Course Number_Row_5"  data-field-name="Course NumberRow5_2"/>
<input type="text"  tabindex="65"  id="form86_1" value="" data-objref="700 0 R" title="Course Number_Row_9"  data-field-name="Course NumberRow9"/>
<input type="text"  tabindex="128"  id="form87_1" value="" data-objref="763 0 R" title="Course Number_Row_1"  data-field-name="Course NumberRow1_3"/>
<input type="text"  tabindex="142"  id="form88_1" value="" data-objref="777 0 R" title="DATE"  data-field-name="DATE_2"/>
<input type="text"  tabindex="140"  id="form89_1" value="" data-objref="775 0 R" title="DATE"  data-field-name="DATE"/>
<input type="text"  tabindex="58"  id="form90_1" value="" data-objref="693 0 R" title="Course Number_Row_8"  data-field-name="Course NumberRow8"/>
<input type="text"  tabindex="114"  id="form91_1" value="" data-objref="749 0 R" title="Course Number_Row_4"  data-field-name="Course NumberRow4_2"/>
<input type="text"  tabindex="23"  id="form92_1" value="" data-objref="658 0 R" title="Course Number_Row_3"  data-field-name="Course NumberRow3"/>
<input type="text"  tabindex="37"  id="form93_1" value="" data-objref="672 0 R" title="Course Number_Row_5"  data-field-name="Course NumberRow5"/-->
<!--input type="text"  tabindex="123"  id="form94_1" value="" data-objref="758 0 R" title="Grade (if Rec’d)_Row_5"  data-field-name="Grade if RecdRow5_2"/>
<input type="text"  tabindex="109"  id="form95_1" value="" data-objref="744 0 R" title="Grade (if Rec’d)_Row_3"  data-field-name="Grade if RecdRow3_2"/>
<input type="text"  tabindex="53"  id="form96_1" value="" data-objref="688 0 R" title="Grade (if Rec’d)_Row_7"  data-field-name="Grade if RecdRow7"/>
<input type="text"  tabindex="102"  id="form97_1" value="" data-objref="737 0 R" title="Grade (if Rec’d)_Row_2"  data-field-name="Grade if RecdRow2_2"/>
<input type="text"  tabindex="95"  id="form98_1" value="" data-objref="730 0 R" title="Grade (if Rec’d)_Row_1"  data-field-name="Grade if RecdRow1_2"/>
<input type="text"  tabindex="46"  id="form99_1" value="" data-objref="681 0 R" title="Grade (if Rec’d)_Row_6"  data-field-name="Grade if RecdRow6"/>
<input type="text"  tabindex="11"  id="form100_1" value="" data-objref="646 0 R" title="Grade (if Rec’d)_Row_1"  data-field-name="Grade if RecdRow1"/>
<input type="text"  tabindex="88"  id="form101_1" value="" data-objref="723 0 R" title="Grade (if Rec’d)_Row_12"  data-field-name="Grade if RecdRow12"/>
<input type="text"  tabindex="81"  id="form102_1" value="" data-objref="716 0 R" title="Grade (if Rec’d)_Row_11"  data-field-name="Grade if RecdRow11"/>
<input type="text"  tabindex="74"  id="form103_1" value="" data-objref="709 0 R" title="Grade (if Rec’d)_Row_10"  data-field-name="Grade if RecdRow10"/>
<input type="text"  tabindex="18"  id="form104_1" value="" data-objref="653 0 R" title="Grade (if Rec’d)_Row_2"  data-field-name="Grade if RecdRow2"/>
<input type="text"  tabindex="137"  id="form105_1" value="" data-objref="772 0 R" title="Grade (if Rec’d)_Row_2"  data-field-name="Grade if RecdRow2_3"/>
<input type="text"  tabindex="67"  id="form106_1" value="" data-objref="702 0 R" title="Grade (if Rec’d)_Row_9"  data-field-name="Grade if RecdRow9"/>
<input type="text"  tabindex="130"  id="form107_1" value="" data-objref="765 0 R" title="Grade (if Rec’d)_Row_1"  data-field-name="Grade if RecdRow1_3"/>
<input type="text"  tabindex="32"  id="form108_1" value="" data-objref="667 0 R" title="Grade (if Rec’d)_Row_4"  data-field-name="Grade if RecdRow4"/>
<input type="text"  tabindex="60"  id="form109_1" value="" data-objref="695 0 R" title="Grade (if Rec’d)_Row_8"  data-field-name="Grade if RecdRow8"/>
<input type="text"  tabindex="116"  id="form110_1" value="" data-objref="751 0 R" title="Grade (if Rec’d)_Row_4"  data-field-name="Grade if RecdRow4_2"/>
<input type="text"  tabindex="25"  id="form111_1" value="" data-objref="660 0 R" title="Grade (if Rec’d)_Row_3"  data-field-name="Grade if RecdRow3"/>
<input type="text"  tabindex="39"  id="form112_1" value="" data-objref="674 0 R" title="Grade (if Rec’d)_Row_5"  data-field-name="Grade if RecdRow5"/>
<input type="text"  tabindex="127"  id="form113_1" value="" data-objref="762 0 R" title="Institution_Row_1"  data-field-name="InstitutionRow1_2"/>
<input type="text"  tabindex="120"  id="form114_1" value="" data-objref="755 0 R" title="Institution_Row_5"  data-field-name="InstitutionRow5"/>
<input type="text"  tabindex="15"  id="form115_1" value="" data-objref="650 0 R" title="Institution (if not Stevens)_Row_2"  data-field-name="Institution if not StevensRow2"/>
<input type="text"  tabindex="29"  id="form116_1" value="" data-objref="664 0 R" title="Institution (if not Stevens)_Row_4"  data-field-name="Institution if not StevensRow4"/>
<input type="text"  tabindex="106"  id="form117_1" value="" data-objref="741 0 R" title="Institution_Row_3"  data-field-name="InstitutionRow3"/>
<input type="text"  tabindex="50"  id="form118_1" value="" data-objref="685 0 R" title="Institution (if not Stevens)_Row_7"  data-field-name="Institution if not StevensRow7"/>
<input type="text"  tabindex="99"  id="form119_1" value="" data-objref="734 0 R" title="Institution_Row_2"  data-field-name="InstitutionRow2"/>
<input type="text"  tabindex="92"  id="form120_1" value="" data-objref="727 0 R" title="Institution_Row_1"  data-field-name="InstitutionRow1"/>
<input type="text"  tabindex="43"  id="form121_1" value="" data-objref="678 0 R" title="Institution (if not Stevens)_Row_6"  data-field-name="Institution if not StevensRow6"/>
<input type="text"  tabindex="85"  id="form122_1" value="" data-objref="720 0 R" title="Institution (if not Stevens)_Row_12"  data-field-name="Institution if not StevensRow12"/-->
<input type="text"  tabindex="78"  id="form123_1" value="" data-objref="713 0 R" title="Institution (if not Stevens)_Row_11"  data-field-name="Institution if not StevensRow11"/>
<input type="text"  tabindex="71"  id="form124_1" value="" data-objref="706 0 R" title="Institution (if not Stevens)_Row_10"  data-field-name="Institution if not StevensRow10"/>
<input type="text"  tabindex="8"  id="form125_1" value="" data-objref="643 0 R" title="Institution (if not Stevens)_Row_1"  data-field-name="Institution if not StevensRow1"/>
<input type="text"  tabindex="134"  id="form126_1" value="" data-objref="769 0 R" title="Institution_Row_2"  data-field-name="InstitutionRow2_2"/>
<input type="text"  tabindex="64"  id="form127_1" value="" data-objref="699 0 R" title="Institution (if not Stevens)_Row_9"  data-field-name="Institution if not StevensRow9"/>
<input type="text"  tabindex="57"  id="form128_1" value="" data-objref="692 0 R" title="Institution (if not Stevens)_Row_8"  data-field-name="Institution if not StevensRow8"/>
<input type="text"  tabindex="113"  id="form129_1" value="" data-objref="748 0 R" title="Institution_Row_4"  data-field-name="InstitutionRow4"/>
<input type="text"  tabindex="22"  id="form130_1" value="" data-objref="657 0 R" title="Institution (if not Stevens)_Row_3"  data-field-name="Institution if not StevensRow3"/>
<input type="text"  tabindex="36"  id="form131_1" value="" data-objref="671 0 R" title="Institution (if not Stevens)_Row_5"  data-field-name="Institution if not StevensRow5"/>
<input type="text"  tabindex="2"  id="form132_1" value="" data-objref="637 0 R" title="Student Identification No"  data-field-name="Student Identification No"/>
<input type="text"  tabindex="5"  id="form133_1" value="" data-objref="640 0 R" title="Concentration"  data-field-name="Concentration"/>
<input type="text"  tabindex="3"  id="form134_1" value="<%= studentData.firstName%>" data-objref="638 0 R" title="First Name"  data-field-name="First Name"/>
<input type="text"  tabindex="1"  id="form135_1" value="<%= studentData.lastName%>" data-objref="636 0 R" title="Last Name"  data-field-name="Last Name"/>
<!--input type="text"  tabindex="31"  id="form136_1" value="" data-objref="666 0 R" title="Course Name_Row_4"  data-field-name="Course NameRow4"/>
<input type="text"  tabindex="122"  id="form137_1" value="" data-objref="757 0 R" title="Course Name_Row_5"  data-field-name="Course NameRow5_2"/>
<input type="text"  tabindex="108"  id="form138_1" value="" data-objref="743 0 R" title="Course Name_Row_3"  data-field-name="Course NameRow3_2"/>
<input type="text"  tabindex="52"  id="form139_1" value="" data-objref="687 0 R" title="Course Name_Row_7"  data-field-name="Course NameRow7"/>
<input type="text"  tabindex="101"  id="form140_1" value="" data-objref="736 0 R" title="Course Name_Row_2"  data-field-name="Course NameRow2_2"/>
<input type="text"  tabindex="94"  id="form141_1" value="" data-objref="729 0 R" title="Course Name_Row_1"  data-field-name="Course NameRow1_2"/>
<input type="text"  tabindex="45"  id="form142_1" value="" data-objref="680 0 R" title="Course Name_Row_6"  data-field-name="Course NameRow6"/>
<input type="text"  tabindex="87"  id="form143_1" value="" data-objref="722 0 R" title="Course Name_Row_12"  data-field-name="Course NameRow12"/>
<input type="text"  tabindex="80"  id="form144_1" value="" data-objref="715 0 R" title="Course Name_Row_11"  data-field-name="Course NameRow11"/>
<input type="text"  tabindex="10"  id="form145_1" value="" data-objref="645 0 R" title="Course Name_Row_1"  data-field-name="Course NameRow1"/>
<input type="text"  tabindex="73"  id="form146_1" value="" data-objref="708 0 R" title="Course Name_Row_10"  data-field-name="Course NameRow10"/>
<input type="text"  tabindex="17"  id="form147_1" value="" data-objref="652 0 R" title="Course Name_Row_2"  data-field-name="Course NameRow2"/>
<input type="text"  tabindex="136"  id="form148_1" value="" data-objref="771 0 R" title="Course Name_Row_2"  data-field-name="Course NameRow2_3"/>
<input type="text"  tabindex="66"  id="form149_1" value="" data-objref="701 0 R" title="Course Name_Row_9"  data-field-name="Course NameRow9"/>
<input type="text"  tabindex="129"  id="form150_1" value="" data-objref="764 0 R" title="Course Name_Row_1"  data-field-name="Course NameRow1_3"/-->
<input type="text"  tabindex="4"  id="form151_1" value="<%= studentData.major%>" data-objref="639 0 R" title="Major"  data-field-name="Major"/>
<!--input type="text"  tabindex="59"  id="form152_1" value="" data-objref="694 0 R" title="Course Name_Row_8"  data-field-name="Course NameRow8"/>
<input type="text"  tabindex="115"  id="form153_1" value="" data-objref="750 0 R" title="Course Name_Row_4"  data-field-name="Course NameRow4_2"/>
<input type="text"  tabindex="24"  id="form154_1" value="" data-objref="659 0 R" title="Course Name_Row_3"  data-field-name="Course NameRow3"/>
<input type="text"  tabindex="38"  id="form155_1" value="" data-objref="673 0 R" title="Course Name_Row_5"  data-field-name="Course NameRow5"/>
<input type="button"  tabindex="141"  id="form156_1" data-objref="776 0 R" title="ADVISOR SIGNATURE"  data-field-name="ADVISOR SIGNATURE"/>
<input type="button"  tabindex="139"  id="form157_1" data-objref="774 0 R" title="STUDENT SIGNATURE"  data-field-name="STUDENT SIGNATURE"/>
<input type="text"  tabindex="143"  id="form158_1" value="" data-objref="778 0 R" title="ADVISOR NAME (PRINT"  data-field-name="ADVISOR NAME PRINT"/-->

</form>
<!-- End Form Data -->

<!-- call to setup Radio and Checkboxes as images, without this call images dont work for them -->
<script type="text/javascript">
replaceChecks();
</script>
<!-- Begin page background -->
<div id="pg1Overlay" style="width:100%; height:100%; position:absolute; z-index:1; background-color:rgba(0,0,0,0); -webkit-user-select: none;"></div>
<div id="pg1"><object width="935" height="1210" data="images/candidacy/1.svg" type="image/svg+xml" id="pdf1" style="width:935px; height:1210px; background-color:white; -moz-transform:scale(1); z-index: 0;"></object></div>
<!-- End page background -->

<!--[if lt IE 9]><script type="text/javascript">
(function(divCount, pageNum) {
for (var i = 1; i < divCount; i++) {
    var div = document.getElementById('t' + i.toString(36) + '_' + pageNum);
    if (div !== null) {
        div.style.top = (div.offsetTop * 4) + 'px';
        div.style.left = (div.offsetLeft * 4) + 'px';
        div.style.zoom = '25%';
    }
}
})(73, 1);
</script><![endif]-->

</div>
</body>
</html>
